<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About page</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="main-content">
      {{> header}}
      <p>
        This site was created by emcecha throughout the udemy node.js course.
      </p>
      <img src="/img/avatar-batman.png" alt="" class="portrait">
    </div>
    {{> footer }}
  </body>
</html>
